.main {
    width: 75%;
    height: 100vh;
    background-color: #aaffff;
    display: flex;
    flex-direction: column;
}
.joinIn {
    width: 75%;
    height: 500px;
    display: flex;
    flex-direction: row;
}