.show {
    display: flex;
    flex-direction: row;
}

.hide {
    display: none;
}

.loginModal {
    padding: 20px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}