.userinfo {
    width: 100%;
    font-size: 20px;
    color: #fff;
}

.userinfo .r-1 {
    display: flex;
    padding: 10px;
    line-height: 45px;
}

.userinfo .r-1 .user-content {
    display: flex;
    flex: auto;
}

.ava {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.userinfo .status {
    color: #aaa;
    font-size: 12px;
    padding: 0 10px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.12);
}

.userinfo .username {
    flex: auto;
    text-transform: uppercase;
    font-size: 16px;
    cursor: default;
}

.userinfo .dot {
    padding: 0 10px;
    font-size: 14px;
}

.userinfo .dot.active {
    color: #4CAF50;
}

.modal-userinfo {
    color: black;
    display: flex;
}

.modal-userinfo .ava-box {
    height: 234px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 234px 234px;
    border: 1px #777 solid;
    border-radius: 5px;
    flex: 0 0 234px;
    position: relative;
}

.modal-userinfo .ava-box .overlay {
    position: absolute;
    bottom: 0;
    right: 0;
}

.modal-userinfo .ava-box .overlay input {
    display: none;
}